<div id="home">
    <div id="homepage_bot">
        <iframe id="botkit_client" src="/chat.html"></iframe>
    </div>
    <div id="content_window">
        <div class="imagetext">
            <div class="imagereader">
                <img src="https://thumbs.dreamstime.com/b/3d-business-man-green-question-mark-17814384.jpg" width="300" height="300" alt="Ask your query logo" />
            </div>
        </div>
        <div class="features">
            <h3>Key features:</h3>
            <ul>
                <li>24/7 availability to answer for customer queries</li>
                <li>Reduce the Incident/Forum count.</li>
                <li>Increase customer count and revenue.</li>
                <li>Saves both customer time and engineers time.</li>
                <li>Ease of customer access as it’s like a normal chatting application.</li>
                <li>Versatile to multiple languages.</li>
            </ul>

        </div>
    </div>
</div>
<script src="/embed.js"></script>
<script>
  Botkit.boot({});
</script>
